In [4]:
print("gramado"[1:2])

r

In [3]:
x = 10
while x != 0:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [5]:
x = 10
while x != 0:
    print(x)
    x -= 1
    if x == 2:
        break

10
9
8
7
6
5
4
3

## Teste

In [3]:
import pandas as pd

grades = pd.DataFrame(
                 {'Math'    : [72, 69, 90, 47, 76, 71, 88, 40],
                  'Reading' : [72, 90, 95, 57, 78, 83, 95, 43],
                  'Writing' : [74, 88, 93, 44, 75, 78, 92, 39],
                  'Gender'  : ['FM', 'FM', 'FM', 'ML', 'ML', 'FM', 'FM', 'ML']})

grades

   Math  Reading  Writing Gender
0    72       72       74     FM
1    69       90       88     FM
2    90       95       93     FM
3    47       57       44     ML
4    76       78       75     ML
5    71       83       78     FM
6    88       95       92     FM
7    40       43       39     ML

Transformando um Dicion√°rio em DataFrame:

In [6]:
grades_dic = {'Math'    : [72, 69, 90, 47, 76, 71, 88, 40],
              'Reading' : [72, 90, 95, 57, 78, 83, 95, 43],
              'Writing' : [74, 88, 93, 44, 75, 78, 92, 39],
              'Gender'  : ['FM', 'FM', 'FM', 'ML', 'ML', 'FM', 'FM', 'ML']}

In [7]:
grades_from_dic = pd.DataFrame(grades_dic)
grades_from_dic

   Math  Reading  Writing Gender
0    72       72       74     FM
1    69       90       88     FM
2    90       95       93     FM
3    47       57       44     ML
4    76       78       75     ML
5    71       83       78     FM
6    88       95       92     FM
7    40       43       39     ML

Criando um DataFrame √† partir de listas

In [8]:
#definindo as listas
A = [72, 72, 74, 'FM']
B = [69, 90, 88, 'FM']
C = [90, 95, 93, 'FM']
D = [47, 57, 44, 'ML']
E = [76, 78, 75, 'ML']
F = [71, 83, 78, 'FM']
G = [88, 95, 92, 'FM']
H = [40, 43, 39, 'ML']

In [9]:
grades_from_list = pd.DataFrame([A, B, C, D, E, F, G, H],
                                columns=['Math', 'Reading', 'Writing', 'Gender'])
grades_from_list

   Math  Reading  Writing Gender
0    72       72       74     FM
1    69       90       88     FM
2    90       95       93     FM
3    47       57       44     ML
4    76       78       75     ML
5    71       83       78     FM
6    88       95       92     FM
7    40       43       39     ML

In [6]:
x = 10
while x != 0:
    print(x)
    x -= 1
    if x == 2:
        break

10
9
8
7
6
5
4
3

In [4]:
x = 10
while x != 0:
    print(x)
    x -= 1
    if x == 2:
        break

10
9
8
7
6
5
4
3

In [4]:
x = 10
while x != 0:
    print(x)
    x -= 1
    if x == 2:
        break

10
9
8
7
6
5
4
3

In [1]:
x = 10
while x != 0:
    print(x)
    x -= 1
    if x == 2:
        break

10
9
8
7
6
5
4
3

In [2]:
!pip install nb_black

Collecting nb_black
  Downloading nb_black-1.0.7.tar.gz (4.8 kB)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from nb_black) (7.29.0)
Requirement already satisfied: black>='19.3' in c:\programdata\anaconda3\lib\site-packages (from nb_black) (19.10b0)
Requirement already satisfied: pathspec<1,>=0.6 in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (0.7.0)
Requirement already satisfied: appdirs in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (1.4.4)
Requirement already satisfied: regex in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (2021.8.3)
Requirement already satisfied: attrs>=18.1.0 in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (21.2.0)
Requirement already satisfied: click>=6.5 in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (8.0.3)
Requirement already satisfied: typed-ast>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (1.4.3)
Requirement already satisfied: toml>=0.9.4 in c:\programdata\anaconda3\lib\site-packages (from black>='19.3'->nb_black) (0.10.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click>=6.5->black>='19.3'->nb_black) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (58.0.4)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (0.1.2)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (5.1.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (0.18.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->nb_black) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->nb_black) (0.8.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->nb_black) (0.2.5)
Building wheels for collected packages: nb-black
  Building wheel for nb-black (setup.py): started
  Building wheel for nb-black (setup.py): finished with status 'done'
  Created wheel for nb-black: filename=nb_black-1.0.7-py3-none-any.whl size=5298 sha256=9592282d0632eaf6f89fdc0e5a0588ba0c5578e65e33d95859a21b943e7b6994
  Stored in directory: c:\users\onema\appdata\local\pip\cache\wheels\25\9d\fc\6312e3d8a66c164cc7f9d80bc66cc25de03a362a30b9f84aa3
Successfully built nb-black
Installing collected packages: nb-black
Successfully installed nb-black-1.0.7

In [3]:
%load_ext nb_black

In [4]:
import pandas as pd

In [3]:
url="https://github.com/davestroud/BeerStudy/blob/master/Beers.csv"
df = pd.read_csv(url)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 28, saw 411